<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="background">
    </div>
    
    <div class="present-div">
        <div class="banner-text" style="opacity: 0;">
            <h1 class="happy-birthday">Happy Birthday</h1>
            <h2 class="nama-ultah">Devina Vantissa</h2>
            <h3 class="umur-ultah">Yang ke-20 (?)</h3>
        </div>
        <div class="click-here">
            <h2>Click the present!</h2>
        </div>
        <img class="present-image" src="img/2.Gift Box(Final).png">
    </div>

    <div class="pesan-pesan">
        <div class="pesan-text">
            <h2>Halo Devina, selamat ulang tahun!</h2>
            <p>Hari ini ulang tahun yang ke-20 kan yah? Semoga semakin panjang umur dan sehat-sehat selalu. Dapet banyak berkat dan keburuntungan.</p>
            <p>Semoga gampang ngerjain skripsi dan tugas kuliahnya jadi lebih cepet lulus tapi langsung dapet kerja kagak pengangguran dulu seperti saya.</p>
            <br>
            <p>Web ini dibuat untuk nyampain selamat ulang tahun, ama sekalian selamat natal mungkin.</p>
            <p>Demikian pesan ini dibuat, semoga hari anda menyenangkan</p>
        </div>
        <div class="image">

        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>