@font-face {
    font-family: HappySerif;
    src: url('/font/Happy Serif.ttf');
}
@font-face {
    font-family: OpenSans;
    src: url('/font/OpenSans-Regular.ttf');
}
@font-face {
    font-family: Capriola;
    src: url('/font/Capriola-Regular.ttf');
}
html{
    height: 100%;
    width: 100%;
}
body{
    widows: 100%;
    height: 100%;
    margin: 0px;
    min-width: 407px;
}
.background{
    height: 100%;
    opacity: 0;
    background: url('/img/confetti-background.png') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.box {
    width: 65px;
    height: 65px;
    background-color: green;
    border: 1px blue solid;
    position: relative;
    
}

.slide {
    position: absolute;
    width: 0;
    height: 65px;
    background-color: red;
    left: 66px;
}

.present-div{
    bottom: 0px;
    position: absolute;
    width: 100%;
    min-width: 407px;
}

.present-image{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.present-image:hover{
    cursor: pointer;
}

.banner-text{
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.umur-ultah, .happy-birthday, .nama-ultah{
    text-align: center;
    text-shadow: -2px 0 #ffffff, 0 2px #ffffff, 2px 0 #ffffff, 0 -2px #ffffff;
}

.happy-birthday{
    font-family: 'HappySerif';
    font-size: 5.4em;
    /* text-shadow: 5px 5px #ffffff;  */
    margin-bottom: 0px;

}
.nama-ultah{
    font-family: 'Capriola';
    font-size: 2.4em;
    margin-bottom: 0px;
}

.pesan-pesan{
    height: 100vh;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    background: url('/img/background-image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
}

.pesan-text{
    width: 50%;
    background-color: rgba(0, 0, 0, 0.3);;
    padding: 1em;
}

.pesan-text h2, p{
    color: #ffffff;
}
.pesan-text h2{
    font-size: 1.6em;
}

.pesan-text p{
    font-size: 1.2em;
}

.click-here{
    text-align: center;
}

@media screen and (max-height: 375px) {
    .background{
        height: 100%;
    }
    .happy-birthday{
        font-size: 3.2em;
        text-shadow: 5px 5px #ffffff;
    }
    .nama-ultah{
        font-size: 1.4em;
        margin-bottom: 0px;
    }
    
}

@media screen and (max-width: 450px) {
    .pesan-text {
        width: 80%;
    }
    
}